<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}
    Post Review
{% endblock %}

{% block body %}
<h2>Rate {{ title }}</h2>

  <form action="{{ url_for('post', isbn_number=isbn_number) }}" method="post">
<div class="form-group">
  <div class="stars">
      <input class="star star-5" id="star-5" type="radio" name="star-5"/>
      <label class="star star-5" for="star-5"></label>
      <input class="star star-4" id="star-4" type="radio" name="star-4"/>
      <label class="star star-4" for="star-4"></label>
      <input class="star star-3" id="star-3" type="radio" name="star-3"/>
      <label class="star star-3" for="star-3"></label>
      <input class="star star-2" id="star-2" type="radio" name="star-2"/>
      <label class="star star-2" for="star-2"></label>
      <input class="star star-1" id="star-1" type="radio" name="star-1"/>
      <label class="star star-1" for="star-1"></label>
</div>
<p></p>
<label for="exampleTextarea">Enter Review</label>
<textarea class="form-control" name="content" id="content" rows="3"></textarea>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</fieldset></form>
{% endblock %}
